.search{
    margin-bottom: 82px;

    @media (max-width:500px){
        display: none;
    }

    .search-items{
         a{
             color: $white;
             padding: 12px 24px 14px 24px;
            transition: color 0.3s;
             &:hover,&:focus{
                 color: $dark;
             }
         }
    }

    a{
        padding: 12px ;
    }
}
